<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bramar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Proyecto</title>
</head>
<body class="cuerpo">
    <section class="contenedorA">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores alias cum ex, eius velit numquam excepturi culpa rerum quia, reiciendis sed, delectus itaque. Veritatis quaerat nostrum natus corrupti doloribus eius!</p>
    </section>
    <section class="contenedorB">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, tenetur distinctio. Ut est earum saepe facere dolorum laudantium alias, odit quae optio non obcaecati quas beatae iste neque amet praesentium!</p>
    </section>
</body>
</html>